.header {
    height: 150px;
    background-color: aqua;
    margin-bottom: 15px;
}

.section {
    background-color: fuchsia;
    height: 150px;
    margin-bottom: 15px;

}

.footer {
    background-color: orange;
    height: 150px;
    
}